<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/nav.ejs')%>
    <div class="blog content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, voluptatibus et. In dolorem, aperiam magnam dignissimos itaque repellendus, deleniti minus adipisci porro sunt aliquid nobis saepe modi quidem quasi non.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi eos non provident, maiores aperiam inventore cum, cumque corporis nam architecto qui numquam. Odio, nulla nostrum? Aperiam qui aspernatur eaque deleniti!</p>
    </div>
    <%- include('./partials/footer.ejs')%>
    
</body>
</html>